*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  margin: 20px;
  border-style: outset;
  border-color: plum;
  display: flex;
  justify-content: center; 
}

h2{
  margin: 20px 0 5px 20px;
}

p{
  margin-top: 5px;
  margin-left: 25px;
  margin: 5px 0 5px 25px;
}

ol, ul {
  margin-left: 40px;
}

ul{
  margin-bottom: 20px;
}